
* {
    margin: 0;
    padding: 0;
}

.truckings-container {
    display: flex;
    flex-flow: row nowrap;
    width: 1258px;
    height: 800px;
    background-image: url("media/scene.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.trucking-list {
    width:550px;
    height: 594px;
    background-color: white;
    margin-left: 183px;
    margin-top:113px;
    border-radius: 10px;
}

.trucking-form {
    margin-top: 116px;
    margin-left: 38px;
}

.input-form {
    display: flex;
    flex-flow: column;
    margin-bottom: 14px;
    width: 400px;
    height: 60px;
    border: 2px solid #EE4D47;
    border-radius: 5px;
}

.buttton-form {
    width: 158px;
    height: 60px;
    left: 153px;
}

ol {
    margin-top: 22px;
}
ol li {
    display: inline;
    margin-left: 30px;
    font-family: "Rubik", sans-serif;
    line-height: 40px;
    font-size: 18px;
}

.delete-update {
    margin-left: 58px;
}

.but {
    left: 11px;
}
/* .car-pic {
    background-image: url('media/truck.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
} */