* {
    margin: 0;
    padding: 0;
}

.background {
    display: block;
    width: 80%;
    height: 95%;
    background-image: url("media/scene.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    position: absolute;
    right: 0;
    top: 0;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    width: 73%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.tableContainer {
    margin-left: 0%;
    margin-top: 5%;
    padding: 1%;
    background: white;
    border-radius: 2%;
    font-size: 20%;
    height: 80%;
}

.truckingForm {
    margin-top: 5%;
    margin-left: 30px;
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
}

.truck {
    display: block;
    height: 45%;
    width: 50%;
    background-image: url("media/truck.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 0;
}
